pwd=
db=
access_sec_k=
refresh_sec_k=
admin_access_sec_k=
admin_refresh_sec_k=

aws_rds_host=
aws_rds_user=
aws_rds_prd=
aws_rds_db=


AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

RESEND_API_KEY=